# intelliJ + Gradle
.idea/
.gradle/
build/

# node bullshit
dist/
node_modules

# macOS specifics
.DS_Store

# Local debugging
database.*.db

# Application
application/src/main/resources/static

# Sensitive things
*.env
AuthKey.p8
